.App {
  text-align: center;
  background: linear-gradient(158deg, rgba(255,255,255,1) 0%, rgba(255,251,155,1) 54%, rgba(254,255,0,1) 100%);
}

.App-link {
  color: #61dafb;
}

.containerPerso {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: start;
}

.rowPerso {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0px;
}


.colPerso {
  text-align: center;
  padding: 0px 15px;
  margin-top: 5px;
  margin-bottom: 5px;

}
.colPerso2 {
  text-align: center;
  padding: 0px 0px;
  margin-top: 5px;
  margin-bottom: 5px;

}


.col1 {
  background-color: #ffffff;
  border-radius: 20px;
}

.col2 {
  background-color: #ffffff;
  border-radius:0px 0px 20px 20px  ;

}

.col3 {
  background-color: #ffffff;
  border-radius: 20px;


}

.iconoLink{
  width: 30px;
  height: 30px;

}
.col1-1 {

  background-color: #ffffff;
  display: flex;
}

.botonesChanges {
  display: flex;
  justify-content: space-between;
}

.NavPers{
  display: flex !important;
  justify-content: end;
  padding: 5px;
}

.datosPerso{
  padding-top: 10px;
  padding-bottom: 20px;
  display: inline-block;

}

.foto{
  width: 100px;
  height: 100px;

}

.w95{
  width: 95%;
  padding: 3%;
}
@media (max-width: 768px) {
  .containerPerso {
    grid-template-columns: 1fr;
  }

  .rowPerso {
    grid-template-columns: 1fr;
  }

  .colPerso.col1 {
    grid-template-columns: 1fr;
  }

}